@font-face {
    font-family: Barcelona;
	src: url('../font/Barcelona-font/FCBARCELONA-Bold.woff2') format('woff2');
}

@font-face {
    font-family: Helvetica-Neue;
	src: url('../font/Helvetica-Neue/Helvetica-Neue-2.woff2') format('woff2');
}

* {
    box-sizing: border-box;

}

header a{
    text-decoration: none;
}

body {
    margin: 0;
    background: #44396F;
    
}

header {
    margin: auto;
    background: linear-gradient(to top right, #18045E, #AD2F2F);
    width: 1080px;
    height: 70px;
    display: flex;
    text-align: center;
    margin-top: 30px;
}

section {
    width: 1248px;
    margin: auto;
    margin-top: 30px;
}

header .nav_buttons {
    font-family: "Barcelona", Arial, "Helvetica-Neue", Helvetica, sans-serif;
    font-size: 26px;
    width: 216px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

header .nav_buttons img {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .picture img {
    width: 745px;

}

section .picture {
    margin: auto;
    width: 745px;
    height: 419px;
}
/*--------------------------------section------------------------------------*/

section .contenttext{
    width: 900px;
    margin: auto;
}

section .top.title{
    font-family: "Barcelona", Arial, "Helvetica-Neue", Helvetica, sans-serif;
    font-size: 35px;
    line-height: 200%;
    font-weight: bold;
    color: #FF5C5C;
}

section .title{
    font-family: "Barcelona", Arial, "Helvetica-Neue", Helvetica, sans-serif;
    font-size: 35px;
    line-height: 200%;
    font-weight: bold;
    color: #7751FF;
}

section .bottom.title{
    font-family: "Barcelona", Arial, "Helvetica-Neue", Helvetica, sans-serif;
    font-size: 35px;
    line-height: 200%;
    font-weight: bold;
    color: #7751FF;
}

section .texttext{
    font-family: "Barcelona", Arial, "Helvetica-Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 200%;
    font-weight: normal;
    color: white;  
    display: flex;
    justify-content: flex-start;
}
/*--------------------------------footer-------------------------------------*/

footer {
    width: 100%;
    background-color: #181733;
    margin-top: 40px;
    
}

footer .partner {
    width: 100%;
    height: 43px;
    display: flex;

    align-items: center;
    padding-left: 49px ;
    /* justify-content: center; */
    font-size: 24px;
    color: #ECA100;
    line-height: 14px;

    /* MAIN PERTNERS */
    font-family: "Barcelona", Arial, "Helvetica-Neue", Helvetica, sans-serif;
    font-weight:900;
    font-size: 24px;

    /* or 58% */
    letter-spacing: 0.01em;
}

footer .partnerIcon{
    display: flex;
    /* margin-left: 49px; */
    height: 173px;
    border-left: 2px solid #ECA100;
    justify-content: space-between;

    width: calc(100% - 98px);
    margin:0px 49px;
}

footer .partnerIcon  a .nike{
    width: 235px;
    margin-left: 160px;
}

footer .partnerIcon a .spofity{
    width: 280px;
}

footer .partnerIcon a .tv{
    width: 370px;

    margin-top: 24px;
    margin-right: 37px;
}

footer .midarea{
    height: 216px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 140px;
}

footer .midarea .contact{
    height: 216px;
    width: 404px;
}

footer .midarea .contact .contacttitle{
    height: 70px;
    width: 404px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 35px;
    font-family: "Barcelona", Arial, "Helvetica-Neue", Helvetica, sans-serif;
    font-weight:normal;
}

footer .midarea .contact .contactcontent{
    height: 132px;
    width: 404px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

footer .midarea .contact .contactcontent .line{
    width: 404px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: "Barcelona", Arial, "Helvetica-Neue", Helvetica, sans-serif;
    font-weight:normal;
    line-height: 200%;
}

footer .midarea .social{
    width: 480px;
    height: 216px;
}

footer .midarea .buttonarea{
    width: 480px;
    display: flex;
    justify-content: space-between;
}

footer .midarea .social .socialtitle{
    width: 100%;
    height: 55px;
    font-family: "Barcelona", Arial, "Helvetica-Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer .midarea .social .buttonarea a .content.FB{
    background-color: #3B5998;
}

footer .midarea .social .buttonarea a .content.X{
    background-color: #55ACEE;
}

footer .midarea .social .buttonarea a .content.yt{
    background-color: #BB0000;
}

footer .midarea .social .buttonarea a .content.ig{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d);

}


footer .midarea .social .buttonarea a .content{
    width: 115px;
    height: 90px;
}


footer .midarea .social .buttonarea a .content img{
    width: 28px;
    height: 28px;
}

footer .midarea .social .buttonarea a .content .igicon{
    width: 25px;
    height: 25px;
    margin: 2px 0px 0px 2px;
}

footer .midarea .social .buttonarea a .content .socialtext{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
}

footer .midarea .social .buttonarea a .content .insidetext{
    width: 100%;
    color: white;
    margin-top: 2px;
    margin:0px 0px 0px 5px;
    text-decoration: none;
    font-family: "Barcelona", Arial, "Helvetica-Neue", Helvetica, sans-serif;

}

footer .midarea .social .buttonarea a{
    text-decoration: none;
}

footer .midarea .support{
    width: 405px;
    height: 216px;
}

footer .midarea .support .supporttitle{
    width: 210px;
    height: 70px;
    color: white;
    line-height: 200%;
    font-family: "Barcelona", Arial, "Helvetica-Neue", Helvetica, sans-serif;
    font-weight: normal;
    font-size: 40px;
    display: flex;
    align-items: flex-start;
    margin-left: 130px;
}

footer .midarea .support .supportcontent{
    display: flex;
}



footer .midarea .support .contentleft{
    width: 105px;
    height: 146px;
    color: white;
    line-height: 200%;
    font-family: "Barcelona", Arial, "Helvetica-Neue", Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-left: 130px;
}
footer .midarea .support .contentright{
    width: 105px;
    height: 146px;
    color: white;
    line-height: 200%;
    font-family: "Barcelona", Arial, "Helvetica-Neue", Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;

}
